<form class="authentication-form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
    <div>
      <label>Email Address</label>
      <input type="email" class="form-control" formControlName="email" id="email"
        placeholder="hello@coderthemes.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>      
    </div><br>
    <div>
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"
        placeholder="Enter your password" required />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>  
    </div>
    <div>
      <button type="submit"> Log In</button>
    </div>
</form>
<p><strong>Username: </strong> test@maximosojo.com, <strong>Password: </strong>test<br>
<a routerLink="/account/reset-password">Forgot your password?</a><br>
<p>Don't have an account? <a routerLink="/account/signup">Sign Up</a></p>