<form action="#" class="authentication-form" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
<ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
<ngb-alert type="success" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert>

  <div *ngIf="!success">
    <label class="form-control-label">Email Address</label>    
      <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="hello@coderthemes.com" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
  </div>

  <div class="form-group mb-0 text-center" *ngIf="!success">
    <button class="btn btn-primary btn-block" type="submit"> Submit</button>
  </div>
</form>
<br>
<p class="text-muted">Back to <a routerLink="/account/login" class="text-primary font-weight-bold ml-1">Login</a></p>
